[Unit]
Description=Configure the USB Ethernet gadget through libcomposite

[Service]
ExecStart=/usr/local/sbin/usbethernet
Restart=never

[Install]
WantedBy=default.target
